<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wujie.springbootlayui.bus.mapper.PersonErrorMapper">

    <delete id="deletePersonErrorByUid">
        delete from bus_person_error where belong_id = #{belongId}
    </delete>
</mapper>