<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.wujie.springbootlayui.sys.mapper.RegisterMapper">    <!--根据手机号查询该手机是否已注册-->    <select id="queryRegisterByPhone" resultType="java.lang.Integer">        select 1 from sys_register where phone = #{phone}    </select></mapper>