<!DOCTYPE html>
<html class="loginHtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>注册--沸石智能人脸识别系统</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" href="/resources/favicon.ico">
	<link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/resources/css/public.css" media="all" />
</head>
<body class="loginBody">
	<form class="layui-form">
		<div class="login_face"><img src="/resources/images/face.jpg" class="userAvatar"></div>

		<div class="layui-form-item input-item" id="ac" style="display: none">
			<label for="loginName"  th:text="#{forget.loginName}">账号</label>
			<input type="text" th:placeholder="#{forget.p1}" autocomplete="off" id="loginName" readonly="readonly" name="logName" class="layui-input" >
		</div>

		<div class="layui-form-item input-item" id="pa" style="display: none">
			<label for="password" th:text="#{forget.password}">新密码</label>
			<input type="password" th:placeholder="#{forget.p2}" autocomplete="off" id="password" name="pwd" class="layui-input" >
		</div>
		<div class="layui-form-item input-item" id="npa" style="display: none">
			<label for="password" th:text="#{forget.newpassword}">确认新密码</label>
			<input type="password" th:placeholder="#{forget.p3}" autocomplete="off" id="newpassword" name="newpwd" class="layui-input" >
		</div>



		<div class="layui-form-item input-item" id="ph" >
           <div class="layui-col-md9">
                <label for="phone" th:text="#{forget.phone}">手机号</label>
			    <input type="text" th:placeholder="#{forget.p4}" autocomplete="off" id="phone" name="phone" class="layui-input" lay-verify="required">
           </div>
           <div class="layui-col-md3">
                 <input type="button" class="layui-btn layui-btn-radius" id="codeBtn"  th:value="#{forget.getCode}" />
           </div>
        </div>
        
		<div class="layui-form-item input-item" id="co" >
			<label for="code" th:text="#{forget.captcha}">验证码</label>
			<input type="text" th:placeholder="#{forget.p5}" autocomplete="off" id="code" name="code" class="layui-input" lay-verify="required">
		</div>
		<div class="layui-form-item" style="padding-top: 100px">
			<button class="layui-btn layui-block" lay-filter="register" id="subBtn" lay-submit><span th:text="#{submit}">提交</span></button>
		</div>
	</form>
	<script type="text/javascript" src="/resources/layui/layui.js"></script>
	<script type="text/javascript" src="/resources/js/cache.js"></script>
	
	<script type="text/javascript">
	layui.use(['form','layer','jquery'],function(){
	    var form = layui.form,
	        layer = parent.layer === undefined ? layui.layer : top.layer
	        $ = layui.jquery;

	    //登录按钮
		var status=1
	    form.on("submit(register)",function(data){
			var btn =  $(this);
            if(status==1){
				$.post("/register/doForgetCode",data.field,function(rs){
					//设置登录按钮 恢复可点击   在前端防止 重复点击
					btn.attr("disabled",false).removeClass("layui-disabled");
					layer.msg(rs.msg);
					if(rs.code != 200){
						// layer.msg(rs.msg);

					}else{
						layer.msg(rs.msg);
						btn.text("[[#{forget.restPwd}]]")
						status=2;
						$("#ac").show()
						$("#loginName").val(rs.data)
						$("#pa").show()
						$("#npa").show()
						$("#ph").hide()
						$("#co").hide()
					}

				});

			}else{

            	if(data.field.pwd==""&&data.field.newpwd==""&&data.field.pwd==null&&data.field.newpwd==null){
            		layer.msg("[[#{forget.inputAndConfirm}]]")
					return false;
				}
            	if(data.field.pwd!==data.field.newpwd){
					layer.msg("[[#{forget.oldAndNew}]]")
					return false;
				}

				//设置登录按钮  为不可点击
				// btn.text("提交审核中...").attr("disabled","disabled").addClass("layui-disabled");
				$.post("/register/doForget",data.field,function(rs){
					//设置登录按钮 恢复可点击   在前端防止 重复点击
					btn.text("[[#{forget.checking}]]").attr("disabled",false).removeClass("layui-disabled");
					layer.msg(rs.msg);
					if(rs.code != 200){
						layer.msg(rs.msg);
					}else{
						//跳转到templates/system/index/index.html页面
						layer.msg("[[#{forget.updateSuccess}]]");
						// location.href="/sys/registerSuccess";
						// setTimeout("javascript:location.href='/sys/toLogin'", 1000);
								setTimeout("javascript:location.href='https://car.szmaowo.com/sys/toLogin'", 1000);
					}
				});
			}
	        return false;
	    });
	    var status=1;
	    
	    // 发送验证码操作
	    $("#codeBtn").click(function() {
			var phone = document.getElementById("phone").value;
			if(phone ==''){
				layer.msg("[[#{phone_cantBe_null}]]");
				return false;
			};
			var obj = this;
			$.ajax({
				url : "/register/sendCodeUserExists",
				type : "post",
				dataType : "json",
				data:{phone:phone},
				success:function(res) {
					if(res.code == 200){
						$("#codeBtn").addClass("layui-btn-disabled");
						$('#codeBtn').attr('disabled',"true");
						settime(obj);
						layer.msg(res.msg);
					}else{
						layer.msg(res.msg);
					}
				},
				error:function(res){
					$.messager.alert('[[#{forget.error}]]',res.msg);
				}
			});
			// 关闭弹出层
			layer.close();
			return false;
	    });


	    //表单输入效果
	    $(".loginBody .input-item").click(function(e){
	        e.stopPropagation();
	        $(this).addClass("layui-input-focus").find(".layui-input").focus();
	    })
	    $(".loginBody .layui-form-item .layui-input").focus(function(){
	        $(this).parent().addClass("layui-input-focus");
	    })
	    $(".loginBody .layui-form-item .layui-input").blur(function(){
	        $(this).parent().removeClass("layui-input-focus");
	        if($(this).val() != ''){
	            $(this).parent().addClass("layui-input-active");
	        }else{
	            $(this).parent().removeClass("layui-input-active");
	        }
	    })
	})
</script>
<script type="text/javascript"> 
     var countdown=120; 
     function settime(obj) { 
     if (countdown == 0) { 
         obj.removeAttribute("disabled"); 
         obj.classList.remove("layui-btn-disabled")
         obj.value="[[#{forget.getCode}]]"; 
         countdown = 60; 
         return;
      } else { 
       obj.value = countdown + "s"; 
       countdown--; 
       }; 
     setTimeout(function() {settime(obj)},1000) 
}
</script>
</body>
</html>